body{
    background-color: #E0FFFF;
}

 .img_topo{
     width: 40%;
 }
 .img_corpo{
    width: 45%;
}

.menu{
    padding: 1.5%;
}

  figure{
      text-align: center;
}

.container{
    width: 80%;
    margin: auto;
}

h1{
    text-align: center;
    font-size: 2em;
}

p{
    font-size: 2rem;
    text-align: justify;
    text-indent: 40px;
    line-height: 1.5;
}

.parag_filmes > p{
    font-size: 2em;
}

.fundo_diferente{
    background-image: linear-gradient(to right, #E0FFFF, #000000);
}

html{
    scroll-behavior: smooth;
}