body{
    background-color: #E0FFFF;
}

 .img_topo{
     width: 30%;
 }
 .img_corpo{
    width: 40%;
    margin-top: 2%;
}

.menu, footer{
    padding: 1.5%;
    background-color: rgba(0, 0, 0, 0.2);
}

.logo{
    padding-top: 1%;
    padding-bottom: 1%;
}

.itens_menu{
    line-height: 1.5;
    text-align: center;
}

  figure{
      text-align: center;
}

.container{
    width: 80%;
    margin: auto;
}

h1{
    text-align: center;
    font-size: 2em;
}

p{
    font-size: 2rem;
    text-align: justify;
    text-indent: 40px;
    line-height: 1.5;
}

.parag_filmes > p{
    font-size: 2em;
}

.fundo_diferente{
    background-image: linear-gradient(to right, #E0FFFF, #000000);
}

html{
    scroll-behavior: smooth;
}

footer p{
    text-align: center;
    font-size: 1.4em;
}

.itens_menu a:link{
    color: rgb(0, 0, 0);
}

.itens_menu a:visited{
    color: rgb(64, 156, 61);
}

.itens_menu a:hover{
    color: rgb(255, 7, 7);
}

.itens_menu a:active{
    color: rgb(17, 73, 243);
}

.container a:link{
    color: black;
}

.container a:visited{
    color: rgb(64, 156, 61);
}

.container a:hover{
    color: rgb(255, 7, 7);
}

.container a:active{
    color: rgb(17, 73, 243);
}

section{
    margin-top: 2%;
    margin-bottom: 2%;
}

.escondido{
    display: none;
}

.esquerda1{
    float: left;
    width: 13%;
    margin-right: 10px;
}

.direita{
    float: right;
    width: 13%;
    margin-left: 10px;
}

.logo_filme{
    padding-top: 1%;
    padding-bottom: 1%;
}
