@font-face {
    font-family: Uchen-Regular;
    src: url('../fonts/Uchen-Regular.ttf');
}

body{
    background-color: #E0FFFF;
}

header{
    top: 0;
    right: 0;
    left: 0;
    position: relative;
    background-color: #E0FFFF;
    padding: 1.5%;
    font-family: 'Uchen-Regular', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fixo{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

 .img_topo{
     width: 30%;
 }
 .img_corpo{
    width: 40%;
    margin-top: 2%;
}

.footer{
    padding: 1.5%;
    background-color: rgba(0, 0, 0, 0.2);
    font-family: 'Uchen-Regular', serif;
}

.logo{
    padding-top: 1%;
    padding-bottom: 1%;
}

.itens_menu{
    line-height: 1.5;
    text-align: center;
}

  figure{
      text-align: center;
}

.container{
    width: 80%;
    margin: auto;
}

h1{
    text-align: center;
    font-size: 2em;
    font-family: 'Bree Serif', serif;
}

p{
    font-size: 2rem;
    text-align: justify;
    text-indent: 40px;
    line-height: 1.5;
    font-family: 'Alegreya', serif;
}

.parag_filmes > p{
    font-size: 2em;
}

.fundo_diferente{
    background-image: linear-gradient(to right, #8cadad, #5a6b88);
}

html{
    scroll-behavior: smooth;
}

footer p{
    text-align: center;
    font-size: 1.4em;
}

.itens_menu a:link{
    color: rgb(19, 78, 126);
}

.itens_menu a:visited{
    color: rgb(19, 122, 105);
}

.itens_menu a:hover{
    color: rgb(17, 51, 78);
}

.itens_menu a:active{
    color: rgb(17, 73, 243);
}

.container a:link{
    color: rgb(40, 83, 163);
}

.container a:visited{
    color: rgb(19, 122, 105);
}

.container a:hover{
    color: rgb(17, 51, 78);
}

.container a:active{
    color: rgb(17, 73, 243);
}

section{
    margin-top: 2%;
    margin-bottom: 2%;
}

.escondido{
    display: none;
}

.esquerda1{
    float: left;
    width: 13%;
    margin-right: 10px;
}

.direita{
    float: right;
    width: 13%;
    margin-left: 10px;
}

.logo_filme{
    padding-top: 1%;
    padding-bottom: 1%;
}

.botao{
    width: 150px;
    height: 40px;
    margin: auto;
    padding: 0.2%;
    text-align: center;
    padding-top: 3%;
}

.botao a:link{
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
}

a{
    text-decoration: none;
}

table{
    border-collapse: collapse;
    width: 100%;
    font-family: 'Bree Serif', serif;
}

th{
    font-size: 1.5em;  
}

td,th{
    border: 5px groove #5e686e;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}

table a:link{
    color: blue;

}
table a:visited{
    color: blue;

}

.borda{
    padding: 5%;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-top: 1%;
    box-sizing: border-box;
}

label{
    padding: 12px 12px 12px 0;
}

.col-25{
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75{
    float: left;
    width: 75%;
    margin-top: 6px;
}

input[type=text], select, textarea, input[type=tel], input[type=email] {
    width: 96%;
    padding: 7px;
    border: 1px solid #000000;
    border-radius: 8px;
    resize: vertical;
    font-family: 'Bree Serif', serif;
}

input[type=submit] {
    background-color: #5e686e;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    font-family: 'Bree Serif', serif;
}

input[type=submit]:hover{
    background-color: #26292b;
    font-family: 'Bree Serif', serif;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.rowb{
    margin-top: 2%;
}

@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit]{
        width: 100%;
        margin-top: 0;
    }

    
    .banner{
        margin-top: 50%;
    }

}

@media screen and (min-width: 601px) {
    header{
        flex-direction: row;
    }

    .itens_menu{
        position: absolute;
        right: 3%;
        top: 30%;
        width: 70%;
    }

    
     .itens_menu ul li {
        display: inline;
        margin-left: 1%;


    }

     .banner{
        margin-top: 8%;
    }
}